*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
footer{
    background-color: black;
    color: white;
}

/* classi di layout */
/* container */
.container{
    max-width: 100%;
    margin: 0 auto;
}
.container-jumbo{
    max-width: 850px;
    margin: 0 auto;
    height: 480px;
}
.container-main{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 100px;
}
.container-company{
    background-color: rgb(37, 168, 23);
    margin: 0 auto;
    margin-top: 100px;
}
.container-small-company{
    max-width: 700px;
    margin: 0 auto;
}
.container-footer{
    max-width: 850px;
    margin: 0 auto;
}
/* righe */
.row{
    display: flex;
    flex-wrap: wrap;
}
/* colonne */
.col-33{
    width: calc(100%/3);
}
.col-35{
    width: 35%;
}
.col-50{
    width: 50%;
}
.col-65{
    width: 65%;
}
.col-100{
    width: 100%;
}
/* classi di style  */
/* genereali  */
button{
    border: none;
    background-color: rgb(255, 255, 255);
    cursor: pointer;
}
h1{
    font-size: 60px;
    margin: 40px 0px;
}
h2{
    font-size: 28px;
}
h3{
    font-size: 20px;
    margin: 15px 0px;
}
h4{
    margin: 20px 0px;
}
ul{
    list-style: none;
}
hr{
    color: grey;
    width: 20%;
    margin: 20px 0px;
}
.img-main{
    width: 100%;
}
.img-company{
    max-width:100%;
    width: 120px;
}
#designit{
    max-width: 100%;
    width: 200px;
}
.subscription-table{
    border: 1px solid rgba(107, 107, 107, 0.381);
    padding: 15px;
    font-size: 11px;
    border-collapse: collapse;
}
/* content  */
.content-header{
   font-size: 13px;
   padding: 15px;
}
.content-jumbo{
    font-size: 13px;
}
.content-main{
    padding: 20px;
}
.content-company{
    background-color: rgb(248, 246, 250);
    border: 1px solid black;
    height: 100%;
}
/* selettori composti  */
.content-header a{
    margin: 0px 25px;
}
header button{
    margin: 0px 5px;
    padding: 8px 13px;
}
.content-header a,.content-jumbo a{
    text-decoration: none;
    color: rgb(57, 57, 57);
}
.subscription-table li,
.subscription-table p,
.subscription-table button,
.subscription-table span{
    margin: 10px 0px;
}
.subscription-table button{
    padding: 8px;
    text-align: center;
    font-size: 10px;
}
/* background e colori  */
.bg-lightblue{
    background-color: #a1c9f7d5;
}
.bg-blue{
    background-color: rgb(50, 108, 255);
}
.white{
    color: white;
}
.grey{
    color: rgb(118, 118, 118);
}

/* padding  */
.p-5{
    padding: 5px;
}
.p-10{
    padding: 10px;
}
.p-20-28{
    padding: 20px 28px;
}
.p-30{
    padding: 30px;
}
/* margin  */
.my-10{
    margin: 10px 0px;
}
.my-25{
    margin: 25px 0px;
}
.my-40{
    margin: 40px 0px;
}
.my-60{
    margin: 60px 0px;
}
.my-70{
    margin: 70px 0px;
}
.mt-10{
    margin-top: 10px;
}
.mt-40{
    margin-top: 40px;
}
.mb-40{
    margin-bottom: 40px;
}
.mr-20{
    margin-right: 20px;
}
/* position */
.position-absolute{
    position: absolute;
    top: 10px;
    right: 10px;
}
.position-relative{
    position: relative;
}
/* flex  */
.flex-item-center{
    display: flex;
    align-items: center;
}
.flex-center{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.space-betwen{
    display: flex;
    justify-content: space-between;
}
/* bordo */
.border{
    border: 1px solid rgba(107, 107, 107, 0.381);
}
/* altezza  */
.h-50{
    height: calc((100vw /3)/2);
    
}
.max-height{
    max-height:  calc((100vw /3));
}
.min-height{
    min-height: 630px;
}
/* larghezza */
.full-width{
    width: 100%;
}
/* testi */
.text-center{
    text-align: center;
}
.fs-11{
    font-size: 11px;
}
.lh-35{
    line-height: 35px;
}


