*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, sans-serif;
}
/* classi di layout */
/* container */
.container{
    max-width: 100%;
    margin: 0 auto;
}
.container-jumbo{
    max-width: 850px;
    margin: 0 auto;
    height: 450px;
}
.container-main{
    max-width: 700px;
    margin: 0 auto;
    margin-top: 150px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
/* colonne */
.col-33{
    width: calc(100%/3);
}
.col-35{
    width: 35%;
}
.col-50{
    width: 50%;
}
.col-65{
    width: 65%;
}
.col-100{
    width: 100%;
}
/* classi di style  */
/* genereali  */
button{
    border: none;
    background-color: rgb(255, 255, 255);
    margin: 0px 5px;
    padding: 8px 13px;
    cursor: pointer;
}
h1{
    padding: 20px;
    font-size: 60px;
    margin-top: 40px;
}
h2{
    font-size: 30px;
}
a{
    text-decoration: none;
    color: rgb(57, 57, 57);
}
.table-title{
    text-align: center;
}
ul{
    list-style: none;
}
hr{
    color: grey;
    width: 25%;
}
.img-main{
    width: 100%;
}
/* content  */
.content-header{
   font-size: 13px;
   padding: 15px;
}
.content-jumbo{
  background-color: red;
}
.content-main{
    background-color: red;
}
/* selettori composti  */
.content-header a{
    color: rgb(57, 57, 57);
    margin: 0px 25px;
}
/* background e colori  */
.bg-lighblue{
    background-color: #a1c9f7d5;
}
.bg-blue{
    background-color: rgb(50, 108, 255);
}
.white{
    color: white;
}
/* padding  */
.p-20-28{
    padding: 20px 28px;
}
.my-10{
    margin: 10px 0px;
}
/* flex  */
.flex-item-center{
    display: flex;
    align-items: center;
}
.flex-end{
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
/* bordo */
.border{
    border: 1px solid rgba(0, 0, 0, 0.381);
}

